.modalSertifikatHalal .modal-content {
    width: 120%;
    margin-left: -5%;
    padding: 12px;
    margin-top: -10px;
}
.modalPenolakan .modal-content{
    width: 165%;
    margin-left: -25% !important;
}
.modalSertifikatHalal.modal.show{
    background-color: transparent;
    overflow: hidden;
}
.img-sh{
    width: 90%;
    margin-left: 30px;
}
.modalSertifBody{
    background-color: #C0C2C3;
    padding: 12px;
}
.logo-download{
    margin-left: 90%;
    margin-bottom: -50px;
    z-index: 10000;
}
.alert-konfirm{
    width: 60%;
    z-index: 9999999;
    position: fixed;
    margin-top: 200px;
    margin-left: 50px;
}
.txt-konfirmasi{
    margin-top: 4px;
    margin-left: 10px;
}
.txt-tutup{
    font-family: n-sans !important;
    font-weight: 700 !important;
    letter-spacing: 0.15%;
    margin-top: -10px;
    margin-bottom: 10px;
}

@font-face {
    font-family: n-sans;
    src: url('../font/Nunito_Sans/NunitoSans-Regular.ttf');
}
